# Compiled class file
*.class

# Log file
*.log

# Idea files and folders #
.idea/
*iml

# Gradle build dir
build/
.gradle

# EFGF evaluation test output
ErtlFunctionalGroupsFinderEvaluationTest_Output/